.apren {
    display: flex;
    font-family: "Rajdhani", sans-serif;
}

.apren-container {
    background: var(--Primary);
    border-radius: 8px;
    width: 375px;
    height: 748px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.apen-header {
    display: flex;
    align-items: center;
}

.arrw1 {
    font-size: 40px;
    color: var(--Verde);
    text-align: right;
}

.apren-container h1 {
    text-align: center;
    font-size: 48px;
    color: var(--Blanco);
}

.task {
    background-color: var(--PlomoOscuro);
    color: var(--Blanco);
    width: 300px;
    margin: 5px;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.task.expanded {
    height: auto;
    background-color: var(--Verde);
    padding-bottom: 5px;
}

.task-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-weight: bold;
    color: var(--Negro);
    text-align: left;
}

h2 {
    margin: 10px;
    font-family: "Rajdhani", sans-serif;
    font-style: normal;
    font-size: 20px !important;
}

.task-footer {
    margin-top: 10px;
    background-color: var(--PlomoOscuro);
    padding: 10px;
    border-radius: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 260px;
}

.validate-button, .noV-button {
    background-color: var(--Verde);
    color: var(--Negro);
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px; 
    width: 100%; 
}

.expand-button {
    background-color: var(--Verde);
    color: var(--Negro);
    width: 300px;
    height: 70px;
    border: none;
    border-radius: 20px;
    font-size: 18px;
    font-family: "Rajdhani", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: x-large;
}