.navContainer {
    width: 375px;
    height: 812px;
    background-color: var(--Primary);

    position: relative;
}

.compContainer {
    width: 375px;
    height: 748px;
    background-color: var(--Primary);
    
    padding-bottom: 60px;
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}