.container {
  display: flex;
  align-items: center; /* alinear ak centro*/
  background-color: var(--Primary, #1c1c1e);
  width: 375px; /* Mantener el ancho del contenedor */
  height: 812px;
  border-radius: 8px;
  flex-direction: column;
  padding: 0; /* Reducido el padding */
  margin: 0; /* Eliminado el margen */
}

.title {
  color: var(--Blanco, #fff);
  font-size: 45px;
  font-family: "Rajdhani", sans-serif;
  font-weight: 700;
  text-align: center;
  margin: 0; /* Eliminado el margen */
  padding: 20px 0; /* Añadido padding para dar espacio */
}

.calendar {
  background-color: var(--Dark-2, rgba(44, 44, 46, 1));
  width: 100%; /* Asegura que ocupe el 100% del contenedor padre */
  display: flex;
  flex-direction: column;
  padding: 0; /* Reducido el padding */
  margin: 0; /* Eliminado el margen */
  border-radius: 8px;
}

.calendar-header {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 17px;
  color: var(--Blanco, #fff);
  font-weight: 600;
  padding: 20px; /* Añadido padding para dar espacio */
}

.calendar-title {
  font-family: "Rajdhani", sans-serif;
  flex-grow: 1;
}

.calendar-nav {
  display: flex;
  gap: 13px;
  color: var(--Blanco, #fff);
  text-align: center;
  padding: 10px 20px; /* Añadido padding */
  margin: 0; /* Eliminado el margen */
}

.calendar-nav div {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nav-item {
  padding: 10px 0;
  border-radius: 20px;
}

.nav-item-selected {
  background-color: var(--Verde, #d0fd3e);
  color: var(--Negro, #000);
}

.nav-item-default {
  background-color: var(--Dark-3, #3a3a3c);
}

.nav-day {
  font: 400 13px/123% "Rajdhani", sans-serif;
}

.nav-date {
  font: 600 17px "Rajdhani", sans-serif;
  margin-top: 10px;
}

.activity-card {
  background-color: var(--Dark-3, #2c2c2e);
  display: flex;
  align-items: center;
  padding: 15px;
  gap: 16px;
  margin: 10px; /* Ajustado el margen para asegurar que no se salga */
  border-radius: 16px;
  width: calc(100% - 35px); /* Ajuste del ancho para evitar desbordamiento */
}

.activity-img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  object-fit: cover;
}

.activity-info {
  display: flex;
  flex-direction: column;
}

.activity-title {
  font: 600 17px "Rajdhani", sans-serif;
  color: var(--Blanco, #fff);
}

.activity-duration {
  display: flex;
  gap: 20px;
  margin-top: 20px; /* Reducido el margin-top */
  margin-bottom: 20px; /* Añadido margen inferior */
  justify-content: center; /* Centra horizontalmente */
}

.duration-label {
  color: var(--Verde, #d0fd3e);
  font-family: "Rajdhani", sans-serif;
  font-weight: 400;
}

.duration-value {
  background-color: var(--Verde, #d0fd3e);
  color: var(--Negro, #000);
  font: 700 11px "Rajdhani", sans-serif;
  border-radius: 4px;
  padding: 4px;
  text-align: center;
}

.back-button {
  background-color: var(--Verde, #d0fd3e);
  color: var(--Negro, #000);
  border-radius: 20px;
  font: 600 18px "Rajdhani", sans-serif;
  padding: 15px 60px;
  max-width: calc(100% - 40px); /* Asegura que ocupe el 100% del contenedor padre menos el padding */
  width: 100%;
  border: none;
  margin: 20px; /* Añadido margen */
}

.back-button a {
  color: var(--Negro, #000);
  text-decoration: none;
}

.footer-img {
  width: 100%;
  margin: 0; /* Eliminado el margen */
}
