.containerL {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-card {
    background: var(--Primary);
    border-radius: 8px;
    width: 375px;
    height: 812px;
    font-family: "Rajdhani", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.ImagenLog {
    background-image: url('../assets/ImaLog.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 540px;
}

.login-header {
    display: flex;
    width: 320px;
    justify-content: space-between;
    align-items: center;
    padding: 15px 38px;
}

.Logo {
    width: 90px;
    height: 90px;
    margin-right: 1rem;
}

.Mensaje {
    text-align: center;
    margin-bottom: 20px;
    color: var(--Blanco);
    line-height: 1.5;
    font-size: 20px;
    margin-top:340px;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.login-form input {
    margin: 10px;
    padding: 10px;
    width: 100%;
    max-width: 250px;
    border: none;
    border-radius: 10px;
}

.login-button {
    margin-top: 20px;
    background-color: var(--Verde);
    color: var(--Negro);
    padding: 16px;
    width: 150px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.line{
    width: 280px;
    height: 0px;
    border: 1px solid var(--Plomo);
}