.notifications {
    color: var(--Blanco);
    display: flex;
}

.not-card {
    background: var(--PlomoOscuro);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    width: 375px;
    height: 748px;
}

h2 {
    text-align: center;
    font-size: 35px;
}

.tabs {
    background-color: var(--PlomoOscuro);
    display: flex;
    margin-bottom: 25px;
    border-radius: 50px;
    height: 35px;
}

.tab {
    background-color: var(--Plomo);
    color: var(--Blanco);
    padding: 15px;
}

.tab.active {
    background-color: var(--Verde);
    color:var(--Negro);
}

.notifications-list {
    display: flex;
    flex-direction: column;
}

.notification {
    background-color: var(--Negro);
    padding: 15px;
    border-radius: 15px;
    margin-bottom: 15px;
    font-family: "Rajdhani", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.notification .time {
    font-size: 12px;
    color: var(--Plomo);
}

.notification h3 {
    margin: 5px;
    font-size: 20px;
    font-family: "Rajdhani", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.tittleTime{
    display: flex;
    justify-content: space-between
}

.notification p {
    margin-top: 5px;
    font-size: 14px;
    color: var(--Blanco);
}