.profile-container {
    display: flex;
    color: var(--Blanco);
}

.profile-card {
    margin-top: 20px;
    background: var(--Primary);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    width: 375px;
    height: 748px;
    font-family: "Rajdhani", sans-serif;
}

.profile-header h1 {
    text-align: center;
    font-size: 35px;
    margin-bottom: 20px;
    margin-top: 30px;
}

.profile-info {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.profile-info > * + * {
    margin-left: 180px;
}

.profile-pic {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    object-fit: cover;
    margin-right: -200px;
    margin-top: 5px;
    border: 4px solid var(--Blanco);
}

.profile-details p {
    margin: 4px ;
    text-align: left;
}

.titulo{
    color: #FFBB55;
    font-weight: semi-bold;
    font-size: large;
}

.highlight {
    color: var(--Verde);
    font-weight: bold;
}

.profile-name {
    text-align: center;
    font-size: 40px;
    margin-bottom: 10px;
    padding-left: 20px;
    font-weight: 700;
    font-size:40px;
}

.flecha{
    margin-left: auto;
    font-size: 30px;
    color: var(--Verde); 
    margin-left: 50px;
}

.flech:active {
    color: var(--Blanco); 
}

.profile-nav ul {
    list-style: none;
    text-align: left;
    font-size: 22px;
    padding: 0;
    margin: 25px;
}

.profile-nav ul li {
    display: flex;
    align-items: center; 
    justify-content: space-between;
    margin: 25px;
}

.profile-nav ul li a {
    color: var(--Blanco);
    text-decoration: none;
}

.membership-status {
    text-align: center; 
    margin-top: 30px;
}

.logout a {
    padding-left:110px;
    text-align: center;
    color: red;
    text-decoration: none; 
}