/* .contenedor {
  width: 375px;
  height: 812px;
  background-color: rgba(28, 28, 30, 1);
  position: absolute;
}

.conttitulo {
  position: absolute;
  width: 164px;
  height: 30px;
  top: 51px;
  left: 115px;
  display: flex;
  align-items: center;
}

.componente10 {
  position: absolute;
  width: 375px;
  height: 92px;
  top: 720px;
}

.contOpciones {
  position: absolute;
  width: 327px;
  height: 400px;
  left: 28px;
  top: 170px;
}


.tittle {
  font-family: "Alumni Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  color: white;
  font-size: 32;
}

.texto {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-size: 15px;
  color: white;
}

.titulo {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  color: white;
}

.nombre {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-size: 16px;
  color: white;
}

.encabezado {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-size: 17px;
  color: white;
}

.min {
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-size: 12px;
  color: white;
}

.rep {
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-size: 12px;
  color: white;
}

.nombreV {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
  color: rgba(36, 101, 225, 1);
  font-size: 12px;
}

.ntitulo {
  font-family: "Passion One", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: white;
  font-size: 35px;
}

.nombreO {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-size: 15px;
  color: white;
} */