/* WheelPickerComponent.css */
.wheel-picker-wrapper {
    background-color: transparent;
    overflow: hidden; /* Para ocultar la barra de desplazamiento */
  }
  
  /* Selecciona los elementos dentro del picker y aplica estilos */
  .wheel-picker-wrapper .wheel-picker-content {
    padding: 0; /* Elimina el margen interno del picker */
  }
  
  /* Aplica estilos a los elementos individuales dentro del picker */
  .wheel-picker-wrapper .wheel-picker-item {
    border: none; /* Elimina el borde */
    color: white; /* Texto blanco */
  }
  
  /* Aplica estilos al elemento activo */
  .wheel-picker-wrapper .wheel-picker-item.active {
    color: white; /* Texto blanco para el elemento activo */
  }