.personalized-routines-page {
    text-align: center;
    padding: 20px;
    min-height: 100vh; /* Asegura que el contenido principal ocupe al menos toda la altura de la ventana */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Asegura que el contenido principal y el botón estén separados */
    align-items: center; /* Centra los elementos horizontalmente */
    overflow-y: scroll;
    overflow-x: hidden; /* Asegura que no haya desplazamiento horizontal */
    font-family: "Rajdhani", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .exercises-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    overflow-y: auto; /* Añade barra de desplazamiento vertical */
    overflow-x: hidden; /* Asegura que no haya desplazamiento horizontal */
    width: 100%;
    max-width: 375px; /* Limita el ancho máximo del contenedor */
    max-height: calc(100vh - 200px); /* Ajusta la altura para que el botón no se superponga */
    box-sizing: border-box;
    padding-bottom: 20px; /* Añade espacio para el botón de volver */
    background-color: #1a1a1a; /* Color de fondo para diferenciar el contenedor */
    border-radius: 10px;
    height: 500px; /* Altura fija para el contenedor */
  }
  
  .exercise-card {
    background-color: #333;
    color: #fff;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    width: 100%; /* Asegura que la tarjeta ocupe todo el ancho del contenedor */
    text-align: left;
    box-sizing: border-box;
  }
  
  .exercise-image {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  
  .back-button {
    background-color: #00ff00;
    color: #000;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .back-button:hover {
    background-color: #00cc00;
  }
  
  /* Estilos para la barra de desplazamiento */
  .exercises-container::-webkit-scrollbar {
    width: 12px;
  }
  
  .exercises-container::-webkit-scrollbar-track {
    background: #1a1a1a; 
    border-radius: 10px;
  }
  
  .exercises-container::-webkit-scrollbar-thumb {
    background-color: #333; 
    border-radius: 10px;
    border: 3px solid #1a1a1a;
  }
  
  .exercises-container::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
  
  .homepage {
    overflow-y: scroll;
    overflow-x: hidden;
    font-family: "Rajdhani", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .exercise-template {
    width: 375px;
    height: 500px;
  }
  
  .slick-dots li.slick-active button:before {
    opacity: 0 !important;
    color: var(--Verde) !important; 
  }
  
  .slick-dots li button:before {
    opacity: 0 !important;
  }
  
  .ejercicio {
    background-color: var(--Verde);
    height: 40px;
    align-items: center;
    display: flex;
    justify-content: center;
  }
  