@import 'slick-carousel/slick/slick.css';
@import 'slick-carousel/slick/slick-theme.css';
@import '@fortawesome/fontawesome-free/css/all.min.css';

.appContainer {
  width: 375px;
  height: 812px;
  padding: 20;
  background-color: var(--Primary);
  display: flex;
  flex-direction: column;
}
.pase{
  color:  var(--Blanco);
}

.componentsContainer {
  width: 375px;
  height: 748px;
  background-color: var(--Primary);
  display: flex;
  flex-direction: column;

}
.exercise-section {
  margin-bottom: 20px;
}

.exercise-page, .exercise-detail-page {
  display: flex;
  flex-direction: column;
  gap: 20px; 
}

.repetitions-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.exercise-details-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.exercise-card {
  background-color: #333;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.exercise-card h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #fff;
}

.repetitions-list {
  margin-top: 10px;
}

.exercise-repetition {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
}

.repetition-text {
  font-size: 16px;
  color: #fff;
}

.count-text {
  color: #00ff00;
  font-size: 16px;
}

.exercise-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.exercise-details {
  padding: 20px;
}

.exercise-title {
  font-size: 24px;
  color: #fff;
}

.exercise-muscle-group {
  color: #00ff00;
  font-size: 16px;
}

.exercise-info-container {
  display: flex;
  justify-content: space-around;
  margin: 10px 0;
}


.exercise-info-icon {
  width: 24px;
  height: 24px;
  margin-right: 5px;
}

.exercise-info-text {
  color: #fff;
}

.exercise-description {
  color: #fff;
  margin: 10px 0;
}

.exercise-video {
  display: flex;
  align-items: center;
  background-color:#333;
  margin: 10px 0;
}

.exercise-video-thumbnail {
  width: 60px;
  height: 60px;
  border-radius: 5px;
  margin-right: 10px;
}

.exercise-video-info {
  display: flex;
  flex-direction: column;
}

.exercise-video-title {
  color: #fff;
  font-size: 14px;
}

.exercise-video-duration {
  color: #aaa;
  font-size: 12px;
}

.exercise-button {
  width: 100%;
  padding: 10px;
  background-color: #00ff00;
  border: none;
  border-radius: 5px;
  color: #333;
  font-size: 16px;
  cursor: pointer;
}

.exercise-button:hover {
  background-color: #00cc00;
}

.exercise-detail-link {
  text-align: center;
  display: block;
  margin: 20px auto;
  padding: 10px;
  background-color: #00ff00;
  color: #333;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 16px;
}

.exercise-detail-link:hover {
  background-color: #00cc00;
}



@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
